
/* micrio specific */

.micrio-container .marker-container
{
    z-index: 2;
}

.micrio-container .marker-popup {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    margin: -51px 0 0 -51px;
    cursor: auto;
    font-size: 18px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    min-width: 230px;
    max-width: 600px;
    border: 3px solid #ffce42;
    font-family: Arial;
    font-size: 24px;
    paddinG: 0px 15px 10px 15px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0s;
}

.micrio-container .marker-popup.ready {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
    z-index: -1;
}

.micrio-container .marker-popup button.close {
}

.micrio-container .marker-popup article {
    padding: 15px;
    width:auto;
    overflow-y: auto;
    position: relative;
    white-space: nowrap;
}

.micrio-container .marker-popup article h3 {
   display:none;
}


.micrio-container .marker-popup article .body h3 {
    padding-left: 55px;
    display: block;
    font-size: 30px;
}

.micrio-container .marker-popup article p {
    white-space: nowrap;
    margin:0;
}



.micrio-container .marker-popup button.close {
    background-image: url(../images/micrio/close-temp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
}


.markers-container .area {
    position: absolute;
    -webkit-mask-composite: xor;
    opacity: 0;
    /* border: 1px solid red;
   box-shadow: inset 0px 0px 60px 10px rgba(0,0,0,1); */

    display: block;
    overflow:hidden;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0s;
}

.markers-container .area.show {
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
    /* box-shadow: 50px 50px 50px 40px rgba(0,0,0,1.0);*/
}


#filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    position: absolute;
    }

#filter.show1-1, #filter.show1-2, #filter.show2-1, #filter.show2-2, #filter.show2-3 {
    opacity: 1;
    transition-delay: 1.5s;
  }


#filter.show1-1:before {
    -webkit-mask-image: url(../images/micrio/mask1-1.png), -webkit-linear-gradient(white, white);
   }

#filter.show1-2:before {
    -webkit-mask-image: url(../images/micrio/mask1-2.png), -webkit-linear-gradient(white, white);
    top: 0px;
    left: -100px;

  }

#filter.show2-1:before {
    -webkit-mask-image: url(../images/micrio/mask2-1.png), -webkit-linear-gradient(white, white);
    top:0px;
    right:0px;
}

#filter.show2-2:before {
    -webkit-mask-image: url(../images/micrio/mask2-2.png), -webkit-linear-gradient(white, white);
    top: 0px;
    right:0px;
}

#filter.show2-3:before {
    -webkit-mask-image: url(../images/micrio/mask2-3.png), -webkit-linear-gradient(white, white);
    top: 0px;
    right:0px;
}



#filter:before  {
    -webkit-mask-composite: xor;
   /*-webkit-mask-position: center center; */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    background: rgba(0,0,0,0.50);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.fa-remove:before, .fa-close:before, .fa-times:before
{
    content: "";
}

.micrio-container .marker-container .marker  {
    border-radius: 25px;
    width: 45px;
    height: 45px;
    background-color: white;
    /* content: "A"; */
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    font-size: 25px;
    font-weight:bold;
    font-family: gotham-book;
    transition: all 1s ease-in-out;
    display: none;
}

#micrioContainer1 .marker-container.class-1-1 .marker, #micrioContainer1 .marker-container.class-1-2 .marker  {
    display: block;
}
#micrioContainer2 .marker-container.class-2-1 .marker, #micrioContainer2 .marker-container.class-2-2 .marker, #micrioContainer2 .marker-container.class-2-3 .marker   {
    display: block;
}


.marker-container.opened .marker  {
    background-color: #ffce42 !important;
}