
/* DHIAS comment 33

* {
  cursor: url(images/1percent.png), none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  /* disable image drag */

  /*
  -webkit-user-drag: none;
  user-drag: none; }
  */


body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #000000;
  margin: 0; }

button:hover, button:active {
  cursor: none; }

div {
  display: block; }

p {
  margin: 0 0 10px; }

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: black; }


  /****** CONTENTS ******/
  /**********************/
  @font-face {
    font-family: 'gotham-book';
    src: url("fonts/gotham-book.otf");
    /*src: url("fonts/elysio/type_dynamic_-_elysio_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff2") format("woff2"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff") format("woff"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.ttf") format("truetype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.svg#elysiolight") format("svg");*/
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
      font-family: 'gotham-medium';
      src: url("fonts/gotham-book.otf");
      /*src: url("fonts/elysio/type_dynamic_-_elysio_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff2") format("woff2"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff") format("woff"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.ttf") format("truetype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.svg#elysiolight") format("svg");*/
      font-weight: normal;
      font-style: normal;
      }

  /**** CORE ****/
  body {
    /*font-family: 'gotham-medium';*/
    font-family: 'gotham-book';
      line-height: 1.3;
   }

  h1 {
    font-family: gotham-medium;
    font-size: 55px;
    font-weight: 1000;
    color: white; }

  .title {
      font-size: 35px;
      margin: 0 50px 20px 0;
  }

    p, h2 {
      font-family: inherit;
      font-size: 24px;
      font-weight: 500;
      color: white;
      padding-top: 14px; }

    h3  {
       font-family: gotham-medium;
       font-size: 24px;
       font-weight: 1000;
       color: white;
       padding-top: 14px;
     }

      h4 {
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        color: #dbd8d8;
        padding-top: 28px;
       }

/**** FOOTER ****/
.footer h2 {
  font-size: 32px;
  font-family: gotham-medium; }

.footer #home, .footer .zoom, .footer #button--left, .footer #button--right {
  font-size: 22px; }

/**** IMAGES ****/
.images-list-row h2 {
  font-size: 20px; }
  .images-list-row h2 span {
    font-family: ingriditalic;
    font-size: 20px; }

.images-list-row p {
  font-size: 17px; }

#images-list-text {
  font-family: ingridregular; }

#images-list-text h2 {
  font-size: 42px; }

#images-list-text p {
  font-size: 25px; }


   .flex-item {
       padding: 0 20px;
       margin-top: 80px;
   }

  flex-container-1 {
      display: flex;                   /* establish flex container */
      flex-direction: row;             /* flex items will align horizontally */
      justify-content: center;         /* center flex items horizontally */
      align-items: center;
      padding-left: 150px;           /* center flex items vertically */

      /* for demo purposes only */
      height: 1080px;
      width: 1920px;
      border: 1px solid #777;
      background-color: black;
      /*padding: 200px;*/
  }

flex-container-1 > flex-item {
    height: 90%;
    flex: 0 0 45%;                   /* <flex-grow> <flex-shrink> <flex-basis> */
    margin-right: 8px;
    width: 50%
    /*width: 50px;             /* a bit of space between the centered items */*/
}

flex-container-2 {
    height: 75%;
    flex: -1 0 35%;
    display: flex;                   /* flex item is now also flex container */
    flex-direction: column;          /* items will stack vertically */
    justify-content: space-between;
    padding-left: 260px;
    padding-right: 297px;  /* align items vertically */
}

flex-container-2 > flex-item {
    flex: 0.5 0 22%;
    border: 1px dashed #333;
    background-color: yellow;
}



flex-container-3 {
    display: flex;                   /* establish flex container */
    flex-direction: row;             /* flex items will align horizontally */
    justify-content: start;         /* center flex items horizontally */
    /*  align-items: center; */

    /* for demo purposes only */
    height: 1080px;
    width: 1920px;

    background-color: black;
  }

flex-container-3 .micrio-container {
    width: 1300px;
    background-color: red;
    height: 75%;
    /* position: absolute; */
    margin: 75px;
    outline: 1px solid white;
}

.micrio-container canvas.micrio {
    background: #000 !important;
}


flex-container-3 > flex-item {
  height: 90%;
  flex: 0 0 45%;                   /* <flex-grow> <flex-shrink> <flex-basis> */
  margin-right: 8px;
  width: 50%;
  /*width: 50px;             /* a bit of space between the centered items */*/
}

flex-container-4 {
  height: 88%;
  flex: -1 0 35%;
  display: flex;                   /* flex item is now also flex container */
  flex-direction: column;          /* items will stack vertically */
  justify-content: space-between;
    padding-left: 0px;
    padding-right: 50px;
    width: 470px;
}

flex-container-4  > flex-item {
  flex: 0.5 0 22%;
    /*
  border: 1px dashed #333;
  background-color: yellow;
  */
    padding: 0 55px 0 20px;
    margin-top: 70px;
  }


/* TRANSITIONS */
#content.ng-enter, #content.ng-leave {
  transition: 0.7s ease-in-out all;
  transition-delay: 0.2s; }

#content.ng-leave.ng-leave-active, #content.ng-enter {
  opacity: 0; }

#content.ng-enter.ng-enter-active, #content.ng-leave {
  opacity: 1; }

.cropContainer {
  width: 1920px;
  height: 1080px;
  position: absolute; }
  .cropContainer, .cropContainer .cropFrame, .cropContainer .cropFrame img {
    -webkit-transform: translate3d(0, 0, 0); }

.footer {
  height: 12%;
  border-top: 2px solid white;
  width: 1770px;
  position: absolute;
  bottom: 0;
  text-align: center;
  overflow: hidden;
   left:75px;
}
  .footer h2 {
    width: 30%;
    margin: 50px auto 0 auto;
    height: 60px; }
  .footer #home, .footer .zoom {
    position: absolute;
    /*height: 145px;*/
    ?padding-top: 70px; }
  .footer #home, .footer .zoom, .footer #button--left, .footer #button--right {
    /*background-repeat: no-repeat;
    background-color: transparent;
    background-position: top center;
    top: 18px;
    border: none;
    outline: none; }*/
    width: 125px;
    height: 52px;
    border: 2px solid #f6f6f6;
    margin: 10px -99px 10px -99px;
    outline: none;
    background-color: black;
font-family: inherit;
color: white;
   }
  .footer #home {
    width: 100px;
    left: 100px;
    top: 18px;
  }

  .footer #thumb--wrapper {
    position: absolute;
    background-size: 90px 75px;
    right: 72px;
    height: 145px;
    top: 18px;
    border: none;
    outline: none; }

    .divider {
        width: 50px;
        height: auto;
        display: inline-block;
    }

  .footer #button--left{
    white-space: nowrap;
   text align: center;
    width: 295px;
    background-size: 40px 70px;
    margin-right: 100px;
    }

  .footer #button--right {
    /*top: 0;
    padding-top: 50px;*/
    width: 145px;
    background-size: 40px 70px;
   }


   /* TRANSITIONS */
   #content.ng-enter, #content.ng-leave {
     transition: 0.7s ease-in-out all;
     transition-delay: 0.2s; }

   #content.ng-leave.ng-leave-active, #content.ng-enter {
     opacity: 0; }

   #content.ng-enter.ng-enter-active, #content.ng-leave {
     opacity: 1; }

     #bossDiv
     {
      position: absolute;
      top: 0;
     }



