
* {
  cursor: url(images/1percent.png), none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* disable image drag */
  -webkit-user-drag: none;
  user-drag: none; }

body {
  width: 1920px;
  height: 1200px;
  overflow: hidden;
  /*background-color: #000000;*/
  margin: 0; }

button:hover, button:active {
  cursor: none; }

div {
  display: block; }

p {
  margin: 0 0 10px; }

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: black; }


  /****** CONTENTS ******/
  /**********************/
  @font-face {
    font-family: 'elysiolight';
    src: url("fonts/elysio/type_dynamic_-_elysio_light-webfont.eot");
    src: url("fonts/elysio/type_dynamic_-_elysio_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff2") format("woff2"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.woff") format("woff"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.ttf") format("truetype"), url("fonts/elysio/type_dynamic_-_elysio_light-webfont.svg#elysiolight") format("svg");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'elysioregular';
    src: url("fonts/elysio/type_dynamic_-_elysio-webfont.eot");
    src: url("fonts/elysio/type_dynamic_-_elysio-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elysio/type_dynamic_-_elysio-webfont.woff2") format("woff2"), url("fonts/elysio/type_dynamic_-_elysio-webfont.woff") format("woff"), url("fonts/elysio/type_dynamic_-_elysio-webfont.ttf") format("truetype"), url("fonts/elysio/type_dynamic_-_elysio-webfont.svg#elysioregular") format("svg");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'ingridregular';
    src: url("fonts/ingrid/NHMIngReg.otf") format("truetype");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'ingriditalic';
    src: url("fonts/ingrid/NHMIngIta.otf") format("truetype");
    font-weight: normal;
    font-style: normal; }

  /**** CORE ****/
  body {
    font-family: 'ingridregular'; }

  h1 {
    font-family: inherit;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    color: white; }

    h2 {
      font-family: inherit;
      font-size: 40px;
      font-weight: 500;
      line-height: 1.1;
      color: white; }

    h3  {
       font-family: inherit;
       font-size: 40px;
       font-weight: 1000;
       line-height: 1.1;
       color: white; }

      h4 {
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        color: white; }

/**** FOOTER ****/
.footer h2 {
  font-size: 32px; }

.footer #home, .footer .zoom, .footer #button--left, .footer #button--right {
  font-size: 22px; }

/**** IMAGES ****/
.images-list-row h2 {
  font-size: 20px; }
  .images-list-row h2 span {
    font-family: ingriditalic;
    font-size: 20px; }

.images-list-row p {
  font-size: 17px; }

#images-list-text {
  font-family: ingridregular; }

#images-list-text h2 {
  font-size: 42px; }

#images-list-text p {
  font-size: 25px; }



  flex-container-1 {
      display: flex;                   /* establish flex container */
      flex-direction: row;             /* flex items will align horizontally */
      justify-content: center;         /* center flex items horizontally */
      align-items: center;
      padding-left: 150px;           /* center flex items vertically */

      /* for demo purposes only */
      height: 1200px;
      width: 1920px;
      border: 1px solid #777;
      background-color: black;
      /*padding: 200px;*/
  }

flex-container-1 > flex-item {
    height: 90%;
    flex: 0 0 45%;                   /* <flex-grow> <flex-shrink> <flex-basis> */
    margin-right: 8px;
    width: 50%
    /*width: 50px;             /* a bit of space between the centered items */*/
}

flex-container-2 {
    height: 77%;
    flex: -1 0 35%;
    display: flex;                   /* flex item is now also flex container */
    flex-direction: column;          /* items will stack vertically */
    justify-content: space-between;
    padding-left: 270px;
    padding-right: 150px;  /* align items vertically */
}

flex-container-2 > flex-item {
    flex: 0.5 0 22%;
    border: 1px dashed #333;
    background-color: yellow;
}
