<div ng-switch="$root.isLoading">

<div ng-switch-when="true">
  Images are being loaded... {{ percentLoaded }}%
</div>

<flex-container-3><!-- main container -->

  <img src="images\landing\treatments.jpg" class="flex-item"/>

    <flex-container-4>
          <div class="flex-item">
            <h1 class="title">Treatments</h1>

            <h2>Magical chants were often used in ancient Egyptian medicine, but the Brooklyn papyrus offers few treatments that require magic.
        Instead, surgery and herbal remedies are more common.  Some of the herbal ingredients, such as onions, are still used in Western Africa today to treat snakebite.</h2>

              <h3>Select a letter below or on the image to highlight examples of hieroglyphics and read their transition.</h3>

              <h2>A. Surgery</h2>
              <h2>B. Herbal</h2>
              <h2>C. Magic</h2>
              <h2>D. Healers</h2>
            </div>

    </flex-container-4><!-- close nested container -->

    <div class="footer">
      <button ng-mousedown="$location.path('/landing')" id="home">Home</button>
      <div id="thumb--wrapper">
          <button ng-mousedown="$location.path('/symptomsAndOutcome')" id="button--left">Symptoms and outcome</button>
          <div class="divider"/>
          <button ng-mousedown="$location.path('/treamtments')" id="button--right" ng-click="color" ng-style="color">Treatments</button>
        </div>
      </div>
    </div>

  <div ng-switch-when="false">
    <strong>Oops</strong>: One of your images failed to load :(
  </div>

</flex-container-3>
