
<div id="bossDiv">
<flex-container-3><!-- main container -->

    <div id="micrioContainer2" micrio-dir micrioid="nshyD">
        <div id="filter"></div>

    </div>

    <flex-container-4>
          <div class="flex-item">
            <h1 class="title">Treatments</h1>

            <p>Although magical chants were often used in ancient Egyptian medicine, the Brooklyn papyrus more commonly features surgery and herbal remedies.
        Herbal ingredients such as onions, are still used in Western Africa to treat snakebites today.</p>

              <h3>Select a number to see the translation of the hieroglyphics.</h3>

              <p>
                  1. Surgery<br/>
              2. Herbal<br/>
              3. Magic</p>p>
            </div>

    </flex-container-4><!-- close nested container -->

    <div class="footer">
      <button ng-mousedown="$location.path('/landing')" id="home">Home</button>
      <div id="thumb--wrapper">
          <button ng-mousedown="$location.path('/symptomsAndOutcome')" id="button--left">Symptoms and outcome</button>
          <div class="divider"/>
          <button ng-mousedown="$location.path('/treatments')" id="button--right" ng-click="color" ng-style="color">Treatments</button>
        </div>
      </div>

</flex-container-3>
</div>
