<!--
This is the partial for displaying a gallery.
-->

<div ng-switch="$root.isLoading">

  <!-- BEGIN: Loading View. -->

  <div ng-switch-when="true">
    Images are being loaded... {{ percentLoaded }}%
  </div>

  <!-- END: Loading View. -->
  <!-- BEGIN: Results View. -->

  <div ng-switch-when="false" ng-switch="$root.isSuccessful">
    <div ng-switch-when="true">
      <div id="images-list-container">
        <!-- <ul class="images-list-row images-list-row--first"> -->
          <!-- <li><img ng-mousedown="$location.path('/plantsFungi/2.1')" class="image-thumb" src="images/plantsFungi/thumbs/2.1.jpg" /><h2>Meadow plants</h2><p>Barbara Nicholson (1906–1978)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.2')" class="image-thumb" src="images/plantsFungi/thumbs/2.2.jpg" /><h2>Dabberlocks, <span>Alaria esculenta</span></h2><p>Arthur Harry Church (1865–1937)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.3')" class="image-thumb" src="images/plantsFungi/thumbs/2.3.jpg" /><h2>Pasqueflower, <span>Pulsatilla vulgaris</span></h2><p>James Sowerby (1757–1822)</p></li> -->
          <p><img ng-mousedown="$location.path('/plantsFungi/2.4')" class="image-thumb" src="images/plantsFungi/thumbs/2.4.jpg">
            Barbara Nicholson (1906–1978)</p>
        <!-- </ul> -->

        <!-- <ul class="images-list-row images-list-row--second"> -->
          <!-- <li><img ng-mousedown="$location.path('/plantsFungi/2.5')" class="image-thumb" src="images/plantsFungi/thumbs/2.5.jpg" /><h2>Snowdrop, <span>Galanthus nivalis</span></h2><p>Arthur Harry Church (1865–1937)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.6')" class="image-thumb" src="images/plantsFungi/thumbs/2.6.jpg" /><h2>Burnt-tip orchid, <span>Neotina ustulata</span></h2><p>Franz Bauer (1758–1840)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.7')" class="image-thumb" src="images/plantsFungi/thumbs/2.7.jpg" /><h2>Elm, <span>Ulmus</span></h2><p>F Greenwood (dates unknown)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.8')" class="image-thumb" src="images/plantsFungi/thumbs/2.8.jpg" /><h2>Shaggy ink cap, <span>Coprinus comatus</span></h2><p>Edwin Wheeler (1833–1909)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.9')" class="image-thumb" src="images/plantsFungi/thumbs/2.9.jpg" /><h2>Poplar, <span>Populus deltoides</span></h2><p>Florence Helen Woolward (1854–1936) </p></li> -->
          <p><img ng-mousedown="$location.path('/plantsFungi/2.10')" class="image-thumb" src="images/plantsFungi/thumbs/2.10.jpg">
            William Wilson Saunders (1809–1879)</p>
        <!-- </ul> -->

        <!-- <ul class="images-list-row images-list-row--third">
          <li><img ng-mousedown="$location.path('/plantsFungi/2.11')" class="image-thumb" src="images/plantsFungi/thumbs/2.11.jpg" /><h2>Violet helleborine,</h2><h2><span>Epipactis purpurata</span></h2><p>Hilda Margaret Godfery (1871–1930)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.12')" class="image-thumb" src="images/plantsFungi/thumbs/2.12.jpg" /><h2>Shaggy parasol,</h2><h2><span>Chlorophyllum rhacodes</span></h2><p>Mary Anne Stebbing (d 1927)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.13')" class="image-thumb" src="images/plantsFungi/thumbs/2.13.jpg" /><h2>Common polypody,</h2><h2><span>Polypodium vulgare</span></h2><p>Johann Jacob Dillenius (1684–1747)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.14')" class="image-thumb" src="images/plantsFungi/thumbs/2.14.jpg" /><h2>Black Italian poplar,</h2><h2><span>Populus x canadensis &lsquo;Serotina&rsquo;</span></h2><p>Florence Helen Woolward (1854–1936) </p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.15')" class="image-thumb" src="images/plantsFungi/thumbs/2.15.jpg" /><h2>Warted amanita</h2><p>Worthington George Smith</p><p>(1835–1917)</p></li>
          <li><img ng-mousedown="$location.path('/plantsFungi/2.16')" class="image-thumb" src="images/plantsFungi/thumbs/2.16.jpg" /><h2>Wild daffodil,</h2><h2><span>Narcissus pseudonarcissus</span></h2><p>James Bolton (1735–1799)</p></li>
        </ul> -->
      </div>

      <div id="images-list-text">
        <h2>Plants and fungi</h2>
        <p>From wildflower meadows to your own back garden,<br>the floral habitats of Britain are spectacularly diverse.<br>Every plant and fungus holds a significance that natural history artists are eager to capture.</p>
      </div>

      <div class="footer">
        <button ng-mousedown="$location.path('/landing')" id="home">Home</button>
        <h2>Tap an image to explore in more detail</h2>
        <div id="thumb--wrapper">
          <button ng-mousedown="$location.path('/animalKingdom')" id="button--left">Previous gallery</button>
          <button ng-mousedown="$location.path('/geologyPalaeontology')" id="button--right">Next gallery</button>
        </div>
      </div>

    <!-- <img ng-repeat="src in imageLocations" ng-src="{{ src }}"  style="width: 100px ; margin-right: 10px ;" /> -->
    </div>

    <div ng-switch-when="false">
      <strong>Oops</strong>: One of your images failed to load :(
    </div>
  </div>
</div>
