
<flex-container-1><!-- main container -->

  <div class="flex-item">
    <h1>Brooklyn Papyrus</h1>

    <h2>The Brooklyn papyrus is one of the several medical papyri that have survived from ancient Egypt.
    Dated to around 600 BC, it is one of the earliest examples of recorded snakebite symptoms, prognosis and  treatments.</h2>

    <h3>Select a text box to discover more</h3>

    <div class="width">
      <style>
      .width {
        width: 300px;
      }
      </style>
      <h4>Images courtesy of Brooklyn Museum, Bequest of Theodora Wilbur from the collection of her father, Charles Edwin Wilbour, 47.218.85a-f/47.218.48a-f</h4>
    </div>
</div>

    <flex-container-2>

          <img ng-mousedown="$location.path('/symptomsAndOutcome')" src="images\landing\symptoms-and-outcome.jpg" class="flex-item"/>

          <img ng-mousedown="$location.path('/treatments')" src="images\landing\treatments.jpg" class="flex-item"/>

    </flex-container-2><!-- close nested container -->

</flex-container-1>
