
<flex-container-1><!-- main container -->

  <div class="flex-item">
    <h1>Brooklyn Papyrus</h1>

    <h2>The Brooklyn papyrus is one of the several medical papyri that have survived from ancient Egypt.
    Dated to around 600 BC, it is one of the earliest examples of recorded snakebit symptoms, prognosis and  treatments.</h2>

    <h3>Select a text box to discover more</h3>

    <h4>Images courtesy of Brooklyn Museum, Bequest of Theodora Wilbur from the collection of her father, Charles Edwin Wilbour, 47.218.85a-f/47.218.48a-f</h4>
  </div>

    <flex-container-2>

          <img ng-mousedown="$location.path('/animalKingdom')" src="images\landing\animalKingdom_landing.jpg" class="flex-item"/>

          <img ng-mousedown="$location.path('/plantsFungi')" src="images\landing\plantsFungi_landing.jpg" class="flex-item"/>

    </flex-container-2><!-- close nested container -->

</flex-container-1>






<!--
<body>

<div class="page-container" style="width:100%;height:100%;" >

  <div class="landing-flex_container">
    <style>
    .landing-flex_container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-end;
   align-items: flex-end;
      }
</style>


      <img ng-mousedown="$location.path('/animalKingdom')" src="images\landing\animalKingdom_landing.jpg" class="flex-item"/>
      <style>
      .flex-item {
          padding: 38px 200px 70px 0px;
      }
      </style>


      <img ng-mousedown="$location.path('/plantsFungi')" src="images\landing\plantsFungi_landing.jpg" class="flex-item"/>


    </div>



    <div class="flex-item_text">
      <h1>Brooklyn Papyrus</h1>

      The Brooklyn papyrus is one of the several medical papyri that have survived from ancient Egypt.
      Dated to around 600 BC, it is one of the earliest examples of recorded snakebit treatment.
    </div>

    <style>
    .flex-item_text {
      display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: white;
    }
    </style>

</body> -->
