<!--
This is the partial for displaying a gallery.
-->

<div ng-switch="$root.isLoading">

  <!-- BEGIN: Loading View. -->

  <div ng-switch-when="true">
    Images are being loaded... {{ percentLoaded }}%
  </div>

  <!-- END: Loading View. -->
  <!-- BEGIN: Results View. -->

  <div ng-switch-when="false" ng-switch="$root.isSuccessful">
    <div ng-switch-when="true">
      <div id="images-list-container">
        <ul class="images-list-row images-list-row--first">
          <li><img ng-mousedown="$location.path('/bookPreview/4.1')" class="image-thumb" src="images/bookPreview/thumbs/4.1.jpg" /><h2>&nbsp;</h2><p>&nbsp;</p></li>
          <li><img ng-mousedown="$location.path('/bookPreview/4.2')" class="image-thumb" src="images/bookPreview/thumbs/4.2.jpg" /><h2>&nbsp;</h2><p>&nbsp;</p></li>
        </ul>

        <ul class="images-list-row images-list-row--bookPreview">
          <li><img ng-mousedown="$location.path('/bookPreview/4.3')" class="image-thumb" src="images/bookPreview/thumbs/4.3.jpg" /><h2>&nbsp;</h2><p>&nbsp;</p></li>
          <li><img ng-mousedown="$location.path('/bookPreview/4.4')" class="image-thumb" src="images/bookPreview/thumbs/4.4.jpg" /><h2>&nbsp;</h2><p>&nbsp;</p></li>
          <li><img ng-mousedown="$location.path('/bookPreview/4.5')" class="image-thumb" src="images/bookPreview/thumbs/4.5.jpg" /><h2>&nbsp;</h2><p>&nbsp;</p></li>
        </ul>

      </div>

      <div id="images-list-text">
        <h2>The Art of British Natural History</h2>
        <p>Enjoy a sneak peek of the book that inspired this display. <em>The Art of British Natural History</em> was written by Andrea Hart, Head of Special Collections at the Natural History Museum, and is available to purchase online and in the Museum Shop.</p>
      </div>

      <div class="footer">
        <button ng-mousedown="$location.path('/landing')" id="home">Home</button>
        <h2>Tap an image to explore in more detail</h2>
        <div id="thumb--wrapper">
          <button ng-mousedown="$location.path('/geologyPalaeontology')" id="button--left">Previous gallery</button>
          <button ng-mousedown="$location.path('/animalKingdom')" id="button--right">Next gallery</button>
        </div>
      </div>

    <!-- <img ng-repeat="src in imageLocations" ng-src="{{ src }}"  style="width: 100px ; margin-right: 10px ;" /> -->
    </div>

    <div ng-switch-when="false">
      <strong>Oops</strong>: One of your images failed to load :(
    </div>
  </div>
</div>