#container {
  position: relative;
}

#content {
  width: 1920px;
  height: 1080px;
  position: absolute;
}

/* TRANSITIONS */
#content.ng-enter, #content.ng-leave {
  transition: 0.7s ease-in-out all;
  transition-delay: 0.2s;
}

#content.ng-leave.ng-leave-active, #content.ng-enter {
  opacity: 0;
}
#content.ng-enter.ng-enter-active, #content.ng-leave {
  opacity: 1;
}

.cropContainer {
  width: 1920px;
  height: 1080px;
  position: absolute;

 .cropContainer, .cropContainer .cropFrame, .cropContainer .cropFrame img {
    -webkit-transform: translate3d(0,0,0);
  }

}

/* TRANSITIONS */
   #content.ng-enter, #content.ng-leave {
     transition: 0.7s ease-in-out all;
     transition-delay: 0.2s; }

   #content.ng-leave.ng-leave-active, #content.ng-enter {
     opacity: 0; }

   #content.ng-enter.ng-enter-active, #content.ng-leave {
     opacity: 1; }

     #bossDiv
     {
      position: absolute;
      top: 0;
     }
