.footer {
  height: 12%;
  border-top: 2px solid white;
  width: 1770px;
  position: absolute;
  bottom: 0;
  text-align: center;
  overflow: hidden;
   left: 75px;
}
  .footer h2 {
    width: 30%;
    margin: 50px auto 0 auto;
    height: 60px; }
  .footer #home, .footer .zoom {
    position: absolute;
    padding-top: 0px; }
  .footer #home, .footer .zoom, .footer #button--left, .footer #button--right {
    width: 125px;
    height: 52px;
    border: 2px solid #f6f6f6;
    margin: 10px -99px 10px -99px;
    outline: none;
    background-color: black;
font-family: inherit;
color: white;
   }
  .footer #home {
    width: 100px;
    left: 100px;
    top: 18px;
  }

  .footer #thumb--wrapper {
    position: absolute;
    background-size: 90px 75px;
    right: 72px;
    height: 145px;
    top: 18px;
    border: none;
    outline: none; }

    .divider {
        width: 50px;
        height: auto;
        display: inline-block;
    }

  .footer #button--left{
    white-space: nowrap;
   text-align: center;
    width: 295px;
    background-size: 40px 70px;
    margin-right: 100px;
    }

  .footer #button--right {
    width: 145px;
    background-size: 40px 70px;
   }







