<!--
This is the partial for individual image display.
-->

<!-- <div class="fullContainer">
  <img src="images/animalKingdom/full/{{image}}.jpg" ng-mousedown="zoomImage()" id="fullImg" >
</div> -->


<div id="container" class="micrio-container" style="width:100vw;height:100vh" micrioid="bbiLs" micrio-dir>
</div>


<div class="footer">
  <button ng-mousedown="$location.path('/landing')" id="home" >Home</button>
  <h2 id="zoom-text">Tap the image to zoom in</h2>
  <button ng-mousedown="$location.path('/animalKingdom')" class="zoom" id="zoomOut">Back to gallery</button>
</div>
